*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: black;
  height: 100%;
  /*background-image: url('../img/spaceship.jpg');*/
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-x: hidden;
}



nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  color: #d4d4d4;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size:22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style-type: none;
}

.nav-links a{
  color: #d4d4d4;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav-links li a:hover{
  color: #fdcc01;
}

.burger {
  display: none;
}

.burger div{
  width: 30px;
  height: 2px;
  background-color: #d4d4d4;
  margin: 5px;
  cursor: pointer;
}


.banner {
  width:100%;
  max-width: 100%;
  height: 400px;
  background-color: #d4d4d4;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position:top;
  /*filter: grayscale(30%) blur(2px);*/
  /*background-position: center top;*/
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  /*max-height: 900px;*/
  /*background-color: red;*/
  flex-direction: column;
  margin-top: 100px;
}

.container #contact_wapper{
  display: flex;
  align-items: center;
  width: 80%;
  height: auto;
  flex-direction: column;
  margin-top: 100px;
  background-color: rgb(240, 240, 242);
}


.container #crypto_wapper span{
  color: #363636
}

.picture_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 900px;
  text-align: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes LightUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes LightOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}



/* Centered text */
.centered {
  position: relative;
  top: 30%;
  left: 0;
  color: #d4d4d4;
  font-size: 25px;
  /*transform: translate(-80%, -50%);*/
}

.centered h4 {
  font-size: 50px;
  font-style: oblique;
  letter-spacing: 3px;
  animation: fadeInUp 1s ease-in;
}

.centered p {
  animation: LightUp 4s ease-in;
  font-size: 15px;
  line-height: 1.5;
}

.centered button {
  animation: LightUp 4s ease-in;
  position: relative;
  z-index: 1;
}

#myVideo {
  opacity: 1;
}

.guarantee {
  background-color: black;
  /*background-image: url(../img/galaxy.gif);*/
  /*background-repeat: no-repeat;*/
  /*background-size: 1000px;*/
  margin-top: 10px;
  height: 700px;
  width: 100%;
}

.pledge {
  color: rgba(255, 215, 0, 0.82);
  position: relative;
  padding: 100px;
  text-align: center;
  line-height: 1.6;
}

.pledge h3 {
  font-size: 100px;
  font-style: oblique;
  letter-spacing: 3px;
}

.pledge table {
  margin-top: 20px;
  border-spacing: 15px 50px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-align: center;
  width: 40%;
}



.commitmentDesHide{
  visibility: hidden;
}

.commitmentDes {
  visibility: visible;

  color: #e7e7e7;
}

/* Tiny Slider*/


/* Hide the images by default */
.mySlides {
  display: none;
  align-items: center;
  margin-left: 20%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #343434;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Slider Active */
.active, .dot:hover {
  background-color: rgba(241, 237, 229, 0.83);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Fading animation */
.fadeOut {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}





.roomInfo{
  display: flex;
  /*background-color: rgba(255, 255, 255, 0.15);*/
  width: 80%;
  max-width: 80%;
  height: 400px;
  max-height: 400px;
  margin-top: 50px;
  opacity: 1;
}

.roomInfo img {
  position: relative;
  left: 0;
  margin: 10px;
  max-height: 380px;
  max-width: 450px;
}

.roomDescription {
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  color: #d4d4d4;
  max-width: 50%;
}

.roomDescription h4 {
  margin-top: 20px;
  letter-spacing: 2px;
  line-height: 3;
}

.roomDescription h3 {
  /*margin-left: 40%;*/
  /*margin-top: 50px;*/
  letter-spacing: 5px;
  color: #fdcc01;
  text-transform: uppercase;
}

.coolButton {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right:auto;
  cursor: pointer;


  display:inline-block;

  text-decoration:none;

  color:rgba(28, 190, 131, 1);
  background-color:transparent;
  border:1px solid rgba(28, 190, 131, 1);
  border-radius:100px;
  padding: .3em 1.2em;

  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}


.coolButton:hover{
  color:rgba(255, 255, 255, 1);
  background-color:rgba(28, 190, 131, 1);
  background-position: -100% 100%;
}

/*.roomDescription button{*/
/*  width: auto;*/
/*  height: auto;*/
/*  margin-left: auto;*/
/*  margin-right:auto;*/

/*  display:inline-block;*/

/*  text-decoration:none;*/

/*  color:rgba(28, 190, 131, 1);*/
/*  background-color:transparent;*/
/*  border:1px solid rgba(28, 190, 131, 1);*/
/*  border-radius:100px;*/
/*  padding: .3em 1.2em;*/

/*  background-size: 200% 100%;*/
/*  background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);*/
/*  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;*/
/*}*/

/*.roomDescription button:hover{*/
/*  color:rgba(255, 255, 255, 1);*/
/*  background-color:rgba(28, 190, 131, 1);*/
/*  background-position: -100% 100%;*/
/*}*/

.contactUs {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-weight: 900;

}
.contactUs *{
  color: black;
  font-weight: 900;
}

.contactUs h3 {
  color: rgba(0, 0, 0, 0.61);
  letter-spacing: 1px
}

.cryptoWrapper {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  max-width: 80%;
  width: 80%;
}

.cryptoWrapper *{
  color: black;
  font-weight: 900;
  letter-spacing: 1px
}

.cryptoWrapper h3 {
  color: #fdcc01;
  letter-spacing: 1px;
  font-size: 14px;
  max-width: 80%;
}

#cryptoBelieveString {
  font-size: 14px;
  font-weight: 900;
  color: #fdcc01;
  letter-spacing: 2px;
}

#cryptoBelieveString *{
  margin-top: 100px;
}

#cryptoBelieveString h3 {
  color: #fdcc01;
  font-weight: 900;
  font-size: 30px;
}

#cryptoBelieveString span {
  font-size:14px;
  color: #acacac;
}

#cryptoBelieveString h2{
  color: #fdcc01;
  font-weight: 900;
  font-size: 25px;
}
#cryptoBelieveString p{
  color: #acc2aa;
  font-weight: 900;
  font-size: 20px;
  font-style: italic;
}

#cryptoBelieve img {
  position: relative;
  width: 400px;
  max-height: 30%;
}

.cryptoDetails {
  margin: 50px;
  align-items: center;
  text-align: center;
  /*animation: fadeInUp 3s ease-out;*/
}

.cryptoDetails h2{
  color: #f8f8f8;
  letter-spacing: 3px;
  cursor: pointer;
  font-size: 25px;
  /*animation: LightUp 3s;*/
}

.cryptoDetails h1{
  color: #fdcc01;
  letter-spacing: 3px;
  cursor: pointer;
  font-size: 40px;
  font-style: oblique;
  /*animation: LightUp 3s;*/
}

.cryptoDetails a{
  color: #b1b1b1;
  letter-spacing: 3px;
  cursor: pointer;
}

.cryptoDetails p{
  margin-bottom: 10px;
}

.cryptoDetails img {
  width: 80%;
  /*height: 200px;*/
}

.iqTestContainer {
  display: none;
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 25px;
  align-items: center;
  vertical-align: center;
  flex-direction: column;
}

.iqTestContainer p{
  display: none;
}


#demoButton {
  /*min-height: 100px;*/
  margin-top: 50px;
  margin-bottom: 25px;
}
/* Booking Form */

#bookingBody {
  /*margin-top: 20px;*/
  width: 40%;
  margin: 100px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#bookingBody h2 {
  color: #fff;
}

.labelBlock {
  margin: 20px 0;
}

.labelBlock.inlined {
  width: 50%;
  display: inline-block;
  /*float: left;*/
  /*margin-left: 1%;*/
}

#bookingForm label {
  display: block;
  padding-bottom: 7px;
  font-size: 1em;
  color: #fff;
}

#bookingForm input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  width: 100%;
  padding: 10px;
  /*height: 20px;*/
}

.labelBlock.inlined input {
  width: 95%;
  display: inline-block;
}

#bookingForm textarea {
  height: 250px;
}


#bookingButton {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  border-radius: 4px;
  cursor: pointer;
}

#bookingButton:hover {
  border: 2px solid black;
}

#bookingConfirmationWrapper {
  margin: 10% 20% 20% 20%;
}
#bookingConfirmation {
  text-align: center;
  background-color: black;
  color: white;
}

#bookingConfirmation h3 {
  color: white;
  letter-spacing: 5px;
}

#bookingConfirmation p {
  margin-top: 10px;
  color: white;
  letter-spacing: 1px;
}

footer {
  position: relative;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding:20px;
}


footer p{
  margin-top: 20px;
  line-height: 1.6;
}

footer p *{

  letter-spacing: 2px;
  margin-left: 20px;
  text-decoration: none;
  color: #cccccc;
}

@media only screen and (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
  }

  .nav-links li {
    opacity: 0;
  }

}

.nav-active {
  transform: translateX(0%);
}

